

/* Coolors Exported Palette - coolors.co/080705-1b998b-e8eef2-912f40-fffffa */

$black: #1e1e1e; //rgba(8, 7, 5, 100) //Black
$green: #1b998b; //rgba(27, 153, 139, 100) //Green
$grey: #e8eef2; //rgba(232, 238, 242, 100) //Grey
$red: #912f40; //rgba(145, 47, 64, 100) //red
$white: #fffffa; //rgba(255, 255, 250, 100) //white
$blue:#1492e6;
$body-bg:$grey;

$inputs-bg:#2e2e2e;
$inputs-color:#2e2e2e;